img {
    border:green 5px dotted;
}


.container {
    margin: auto;
}


.description {
    font-weight: bold;
    margin-top: -5px;
    margin-left: 7px;
}

.recipes::marker {
    font-size: 10%;
    display: inline-block;
    width: 1920px;
    height: 1080px;
    background-size: contain;
}

.recipes::before {
    content: '';
    display: inline-block;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-image: /* radial-gradient(circle, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6)), */url(../images/hollow.png);
    /* border-radius: 40px;
    box-shadow: 0px 0px 5px #fff; */
    -webkit-filter: drop-shadow(0px 0px 25px rgba(255, 255, 255, 0.5));
    filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.6))  drop-shadow(0px 0px 25px rgba(255, 255, 255, 0.5))  drop-shadow(0px 0px 35px rgba(255, 255, 255, 0.4)) 
  }

.recipes {
    /* background-image: url(../images/hollow.png); */
    background-size: 140px;
    
    background-repeat: no-repeat;
    list-style: none;
    padding-left: 120px;
    padding-top: 90px;
    font-size: 100px;
    background-position: 0 20px;
    text-shadow: 0 0 1px #000, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px  #fff /*, 0 0 50px  #fff, 0 0 60px #fff, 0 0 70px #fff */;
    /* list-style-image: url(../images/hollow.png); The image marker displays as is, and cannot be resized. */
}

.index {
    background-color: black;
}

.title {
    color: whitesmoke;
    font-size: 200px;
    text-align: center;
    font-family: 'Brush Script MT Arial', cursive;
    text-shadow: 0 0 1px #000, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff 
}

a {
    color: white;
    text-decoration: navajowhite ;
}

img {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 
100% { -moz-transform: rotate(360deg); } 
}
@-webkit-keyframes spin { 
100% { -webkit-transform: rotate(360deg); } 
}
@keyframes spin { 
100% { 
    -webkit-transform: rotate(360deg); 
    transform:rotate(360deg); 
} 
}