img {
    border:green 5px dotted;
}


.container {
    margin: auto;
}


.description {
    font-weight: bold;
    margin-top: -5px;
    margin-left: 7px;
}

.recipes::marker {
    font-size: 10%;
    display: inline-block;
    width: 1920px;
    height: 1080px;
    background-size: contain;
}

.recipes::before {
    content: '';
    display: inline-block;
    height: 100px;
    width: 100px;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    background-image: url(../images/hollow.png);
  }

.recipes {
    /* background-image: url(../images/hollow.png); */
    background-size: 140px;
    
    background-repeat: no-repeat;
    list-style: none;
    padding-left: 120px;
    padding-top: 90px;
    font-size: 100px;
    background-position: 0 20px;
    /* list-style-image: url(../images/hollow.png); The image marker displays as is, and cannot be resized. */
}

a {
    color: red;
    text-decoration: navajowhite ;
}